<?xml version="1.0" encoding="utf-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="OFF">
    <Appenders>
        <Console name="ConsoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--项目整体默认日志配置-->
        <Root level="debug">
            <AppenderRef ref="ConsoleLog"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>