<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="OFF">
    <Appenders>
        <Console name="ConsoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n"/>
        </Console>

        <File name="logFile" fileName="logs/design-pattern-test.log" append="false">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n"/>
        </File>

    </Appenders>
    <Loggers>
        <!--项目整体默认日志配置-->
        <Root level="debug">
            <AppenderRef ref="ConsoleLog"/>
            <AppenderRef ref="logFile"/>
        </Root>
    </Loggers>
</Configuration>